@import '../../styles/styles.scss';

.navbar {
  background-color: #333;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-icon {
  display: none; /* You can customize this for mobile responsiveness */
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 20px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $primary-color; /* Change the color on hover */
  }
}